body
{
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: bold;
}

.bold
{
	font-weight: bold;
	font-size: 36px;
}

button
{
	font-weight: bold;
	font-size: 18px;
}

.top
{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}

.main
{
	max-width: 100%;
	width: 1050px;
	height: auto;
	background-color: #dddddd;
	text-align: center;
}

.panelgry
{
	width: 100%;
	height: auto;
}

#pytanie
{
	letter-spacing: 10px;
	font-size: 48px;
}

#kolo
{
	width: 40%;
}

.pointer
{
	font-size: 48px;
	font-weight: bold;
}

#kasa
{
	font-size: 48px;
	font-weight: bold;
}